//////////////////////////////////////////////////////////////////////////
// 	Daylight - Maroon 5                                                 //
//  08-07-2016                                                          //
//////////////////////////////////////////////////////////////////////////

@import 'https://fonts.googleapis.com/css?family=';

#day13{
	background: url('../images/daylightbackground.png') center repeat-x;
	background-size: auto 100%;
	position: relative;

	#sun{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		z-index: 3000;

		background-image: url('../images/daylightsun.png');
		background-size: cover;
	}

	#wave1{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		z-index: 4000;

		background: url('../images/daylightwave1.png') center repeat-x;
		background-size: auto 100%;
	}

	#wave2{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		z-index: 5000;

		//background-image: url('../images/daylightwave2.png');
		background-size: cover;
	}

	#wave3{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		z-index: 6000;

		//background-image: url('../images/daylightwave3.png');
		background-size: cover;
	}

	.number{
		color: white;
		border-color: white;
		z-index: 2000;
	}

	.content{
		z-index: 7000;
		height: 70%;
		div{


		}
	}

	.source{
		z-index: 7000;	
		a{
			color: white;
			text-decoration: underline;

			&:hover{
				color: white;
			}
		}
	}


}