//////////////////////////////////////////////////////////////////////////
// 	Song Name - Artist                                                  //
//  00-07-2016                                                          //
//////////////////////////////////////////////////////////////////////////

@import 'https://fonts.googleapis.com/css?family=';

#day14{
	background-image: url("../images/seeyouagainbg.png");
	background-size: cover;
	background-position: center;

	.number{
		color: white;
		border-color: white;
	}

	.content{
		div{
			img{
				width: 100%;
				height: auto;
				margin-top: 100px;
				margin-bottom: 100px;
			}
		}
	}

	.source{
		a{
			color: white;
			text-decoration: underline;

			&:hover{
				color: white;
			}
		}
	}


}