//////////////////////////////////////////////////////////////////////////
// 	Peanut Butter Jelly - Galantis                                      //
//  07-11-2017                                                          //
//////////////////////////////////////////////////////////////////////////


#day18{
	background: #c6ddff;

	.number{
		color: white	;
		border-color: white;
	}

	.content{
		div{
			text-align: center;

			img{
				width: 85vw;
				margin-top: 50px;
				margin-bottom: 50px;
			}
		}
	}

	.source{
		a{
			color: white;
			text-decoration: underline;

			&:hover{
				color: white;
			}
		}
	}
}