//bootstrap
@import 'bootstrap';

//fonts
@import 'https://fonts.googleapis.com/css?family=Oswald';


@import 'introduction';

//days
@import 'day1';
@import 'day2';
@import 'day3';
@import 'day4';
@import 'day5';
@import 'day6';
@import 'day7';
@import 'day8';
@import 'day9';
@import 'day10';
@import 'day11';
@import 'day12';
@import 'day13';
@import 'day14';
@import 'day15';
@import 'day16';
@import 'day17';
@import 'day18';
@import 'day19';


.topbar{
	position: fixed;
	//top: 10px;
	//left: 10px;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: white;
	line-height:50px;
	padding-left:50px;
	padding-right: 50px;
	text-transform: uppercase;
	font-family: "Oswald";

	div{
		a{
			color: #b1578e;
		}

		&:nth-of-type(2){
			text-align:center;
		}

		&:nth-of-type(3){
			a{
				float: right;
			}
		}
	}
}

section{
	min-height: 110%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
  	flex-direction: column;
  	justify-content: center;

  	.number{
  		margin: 0 auto;
  		border: 2px solid black;
  		padding: 3px 8px 3px 8px;
  		font-family: 'Oswald', sans-serif;
  		font-size: 15px;
  	}

  	.row{
  		margin-top: 30px;
  	}

  	.source{
  		text-align: center;

  		font-family: 'Oswald';
  	}
}

