@import 'normalize';
@import 'https://fonts.googleapis.com/css?family=Abril+Fatface';
@import 'grid';
@import 'balloon';
@import 'fonts';
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

$sfred: #ff7665;
$orange: #fcc999;

section{
	padding: 0;
	margin: 0;
	max-width: 1000px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

h2{
	color:  $orange;
	text-transform: uppercase;
}

h3{
	a{
		text-decoration: none;
		color: #444;

		&:hover{
			color: $sfred;
		}

		&:visited{
			//	color: #444;	
		}
	}
}

header{
	text-align: center;

	padding: 10px;

	img{
		width: 90%;
		max-width: 500px;
	}
}

#first{
	height: 97vh;
	width: 94vw;
	margin: 3vw 3vw 0 3vw;
	background: url(../images/fog_golden_gate.jpg);
	background-position: bottom;
	background-size: cover;

	div{
		font-family: Proxima_Nova;
		font-weight: 200;
		color: white;
		font-size: 50px;
		padding: 3vw 0 0 3vw;
	}
}

#second{
	background-color: $sfred;
	justify-content: center;
	padding-bottom: 3vw;

	p{
		font-family: Proxima_Nova;
		font-weight: 600;
		font-style: italic;
		position: absolute;
		color: white;
		font-size: 25px;
		width: 180px; 
	}

	img{
		width: 100%;
		margin-top: -3vw;
		height: auto;
	}
}

#third{
	width: 94vw;
	margin: 0 3vw 0 3vw;

	.col-md-6{



		&:first-of-type{
			background: url(../images/san_francisco_road.jpg);
			background-position: center;
			background-size: cover;
			min-height: 20vh;
		}

		&:last-of-type{
			font-family: Proxima_Nova;
			font-weight: 600;
			font-size: 30px;

			display: flex;
			justify-content: center;

			background-color: $orange;

			p{
				width: 320px;
				margin: 100px 0 100px 0;
				color: white;

				i{
					font-style: italic;
					font-weight: 400;
				}
			}
		}
	}
}

.section-title{
	
	font-family: Proxima_Nova;


	h1{
		color: white;		
		font-weight: 700;
		font-size: 40px;
		margin: 0;
		color: white;
		text-transform: capitalize;
		background-color: $sfred;
		padding: 30px 90px 30px 90px;
	}

	p,ul{
		font-size: 20px;
		margin: 0; 
		line-height: 26px;
		font-weight: 200;
		list-style-type: none;
	}

	li{
		margin-top: 15px;
		margin-bottom: 15px;

		strong{
			font-style: none;
			font-weight: 700;
			color: $sfred;
		}

		.show-more, .show-less{
			font-size: 14px;
			text-transform: uppercase;
			text-decoration: none;
			color: $sfred;
			font-weight: 600;

			&:hover{
				color: #444;
			}
		}

		.show-less{
			color: #444;
			&:hover{
				color: $sfred;
			}
		}

		address{
			font-style: normal;
			font-size: 14px;
			line-height: 19px;
			margin: 10px 0 0 15px;
		}
	}

	p{
		padding: 30px 90px 0 90px;
	}

	ul{
		padding: 0 90px 30px 120px;
	}

	#map{
		width: 100%;
		height: 50vh;
		margin-bottom: 40px;
	}
}

#map_section{
	position: sticky;
	top: 0; 
}


#fifth{
	#itinerary-img{
		width: 100%;
		height: 200px;
		background-image: url(../images/itineraries.png);
		background-position: center;
	}

	#itineraries{

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		text-decoration: none;

		a{
			text-decoration: none;

			&:hover{
				color: $sfred !important;
			}

			.itinerary{
				width: 300px;
				margin: 20px 0 20px 0;

				img{
					width: 300px;
					height: 300px;
					object-fit: cover;
				}

				h2{
					text-align: center;
					text-decoration: underline;
					&:hover{
						color: $sfred !important;
					}	
				}

			}
		}
	}
}


#image_credits{
	margin: 0 3vw 0 3vw;
	font-family: Proxima_Nova;
}