@font-face {
	font-family: Proxima_Nova;
	src:url(../assets/fonts/proxima_nova/ProximaNova-Light.otf);
	font-weight: 200;
}

@font-face {
	font-family: Proxima_Nova;
	src:url(../assets/fonts/proxima_nova/ProximaNova-LightIt.otf);
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: Proxima_Nova;
	src:url(../assets/fonts/proxima_nova/ProximaNova-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: Proxima_Nova;
	src:url(../assets/fonts/proxima_nova/ProximaNova-RegularIt.otf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: Proxima_Nova;
	src:url(../assets/fonts/proxima_nova/ProximaNova-Semibold.otf);
	font-weight: 600;
}

@font-face {
	font-family: Proxima_Nova;
	src:url(../assets/fonts/proxima_nova/ProximaNova-SemiboldIt.otf);
	font-weight: 600;
	font-style: italic;
}